beautifulsoup4==4.11.1
docx2txt==0.8
config
#gensim==4.2.0
openpyxl==3.0.10
gTTS==2.2.4
joblib==1.1.0
matplotlib==3.5.2
googletrans==3.0.0
langdetect==1.0.9
mtranslate==1.8
nltk==3.7
numpy==1.22.4
pandas==1.4.2
pdfplumber==0.7.0
Pillow==9.1.1
pytesseract==0.3.9
opencv-python-headless==4.6.0.66
requests==2.27.1
seaborn==0.11.2
spacy==3.3.0
spacy_streamlit==1.0.3
st_annotated_text==3.0.0
streamlit==1.9.2
sumy==0.10.0
wordcloud==1.8.1
youtube_transcript_api==0.4.4

